.sidebar_container{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #ffff;
    background-image:url('/assets/side-bar.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1rem;
    position: fixed;
    z-index: 2;
}

.profil_container{
    margin-top: 2rem;
    padding: 0.7rem;
    border: 1px solid #ffff;
    border-radius: 15px;
    text-align: center;
}

.profil_container img{
   width: 137px;
   height: 119px;
}

hr{
    width: 100%;
    border:0.5px solid #ffff;
}

.title{
    text-align: center;
}

.menu_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    padding-right: 2.5rem;
}

.menu_item{
    z-index: 2;
    color: #1C2545;
    padding: 8px 30px;
    border: none;
    border-radius: 3rem;
    background-color: #ffff;
}

.menu_item:hover{
     transition: 0.4s;
     background-color: #039BE5;
     p{
      color: #ffff;
      transition: 0.2s;
    }
}

 a.active{
    background-color: #039BE5;
    z-index: 2;
    padding: 8px 30px;
    border: none;
    border-radius: 3rem;
     p{
        color: white;
     }
   
}

.dropdown_menu_container{
    z-index: 1;
    position: relative;
    bottom: 3.8rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #ffff;
    padding: 2rem 1rem;
    a{
        margin-top: 10px;
        p{
            font-size: 12px;
        }
    }
}


a.secondaryactive {
     p{
        color:  #039BE5;
        font-weight: bold;
     } 
}

.menu_dropdowwn{
    background-color: #039BE5;
   a p{
     color: #ffff;
      
   }
} 


a{
    display: flex;
    text-decoration: none;
    outline-color: transparent;
    align-items: center;
    gap: 10px;
    margin: 0;
    p{
        color: #1C2545;
    }

}



a p,span{
    margin: 0;
}



.copyright{
    font-size: 10px;
    margin-top: auto;
}




@media screen and (max-width: 1200px) {
    .sidebar_container{
        display: none;
    }
 }

 


 