.container{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.header_dashboard{ 
    margin: 0;
    font-size: 12px;
}

@media screen and (max-width: 1500px) {
    .container{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

}