

.preview_content{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #1C2545;
}

.preview_content img{
    width: 100%;
    height: 218px;
    border-radius: 20px;
}

.campaign_type{
   display: flex;
   margin-right: 1rem;
}

.campaign_type p span{
    font-weight: bold;
 }

 .divider{
    margin-left: 1rem;
    margin-right: 1rem;
 }

 .preview_btn{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
 }
 .btn_edit{
    background-color: #707070;
    color: #E8EAEB;
    border-radius:25px;
    border: none;
    padding: 0.7rem 4.5rem;
    cursor: pointer;
    &:hover{
        font-weight: bold;
        opacity: 0.8;
        transition: 0.5s;
    }
 }

 .btn_submit{
    background-color: #039BE5;
    color: #E8EAEB;
    border-radius:25px;
    border: none;
    padding: 0.7rem 3.5rem;
    cursor: pointer;
    &:hover{
        font-weight: bold;
        opacity: 0.8;
        transition: 0.5s;
    }
 }

 
